<!-- HEADER -->
<header id="header" class="header">
  <div class="header__container">

    <a href="{% url 'products-index' %}" title="Ensambles y Adornos" class="header__logo">
      <img src="/static/img/LOGO-EYA.png" alt="logo">
    </a>

    <div class="header__side">
      
      <button class="header__burger toggleMenu"><i class="burger"></i></button>
      
      <nav id="menu" class="menu header__menu">
      
        <div class="menu__container">
          <button title="Cerrar menu" class="menu__close toggleMenu">
            X <i class="icon-close close"></i>
          </button>
          <ul class="menu__list">
            <li class="menu__item">
              {% if seccion == 'list-order' %}
                <a href="{% url 'products-index' %}" class="button-white">
                  < Productos
                </a>
              {% else %}
                <form action="{% url 'products-index-results' %}" method="get">
                  <input class="menu__search searchText" type="text" placeholder="¿Qué estás buscando?" name="q">
                  <span class="search__error searchError"></span>
                  <button type="submit" class="btnSearch" hidden="hidden"></button>
                </form>
              {% endif %}
            </li>
            
            <li class="menu__item">
              {% if request.user.username %}
                <a class="menu__button" href="{% url 'cart' pk=user.customer.cart.pk %}" title="Ver carrito">Ver carrito</a>
              {% else %}
                <a class="menu__button" href="{% url 'login' %}" title="Iniciar Sesïón">Iniciar Sesïón</a>
              {% endif%}
            </li>
          </ul>
        </div>
        
      </nav>

    </div>
  </div>
  
</header>
